<ion-content [fullscreen]="true">
  <form (submit)="autenticarUsuario()">
    <ion-list class="container">
      <ion-item>
        <ion-input
          label="Usuário"
          type="text"
          [(ngModel)]="instancia.username"
          name="usuario"
          required="true"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Senha"
          type="password"
          [(ngModel)]="instancia.password"
          name="senha"
          required="true"
        ></ion-input>
      </ion-item>
      <ion-button
        expand="block"
        class="ion-margin-top"
        (click)="autenticarUsuario()"
        >Entrar</ion-button
      >
      <div class="ion-text-end ion-margin-end ion-margin-top">
        <ion-text color="medium" (click)="fecharAplicativo()"> Fechar </ion-text>
      </div>
    </ion-list>
  </form>
</ion-content>
